GH_TOKEN="github_pat_..." 
# get one at https://github.com/settings/personal-access-tokens/new

HACKATIME_USNM="alimad" # Your hackatime user id
GITHUB_USNM="Alimadcorp" # Your github username

HC_COOKIE="" # leave this be, optionally for more accurate data, paste your hackatime cookie, the one send with each request to hackatime.hackclub.com in headers